package layouts

templ NotFound() {
  @Page("Page Not Found"){
    <main>
      <h1 class="text-2xl font-semibold">404 - Page Not Found</h1>
      <p class="text-zinc-600">Sorry, the page you are looking for does not exist.</p>
    </main>
  }
}
