package layouts

templ Page(title string) {
  <!DOCTYPE html>
  <html lang="us">

    <head>
      <meta charset="UTF-8">
      <title>{title} - zoity</title>

      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <script src="https://unpkg.com/htmx.org"></script>
      <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="bg-[#F9EFE5] font-sans text-neutral-900 antialiased">
      <main class="h-[100vh]">
        <div class="bg-[#F9EFE5] h-full flex justify-center items-start pt-[5%]">

          <div class="w-[90%] max-w-6xl h-[90%] bg-white border border-zinc-300 rounded-t-md  flex flex-col overflow-hidden">
            <div class="h-9 bg-zinc-100 border-b border-zinc-300 flex justify-between items-center px-4 text-xs">
              <div class="flex items-center gap-2 mr-6">
                <div class="flex items-center gap-2 font-semibold">
                  <div class="w-4 h-4 rounded-full border border-zinc-300 flex items-center justify-center text-[10px]">Z</div>
                  <span>zoity.io</span>
                </div>

                <nav class="ml-6 flex gap-4 text-zinc-700">
                  <a class="hover:text-pink-700 font-medium" href="/dashboard">Dashboard</a>
                  <a class="hover:text-pink-700 font-medium" href="/services">Services</a>
                  <a class="hover:text-pink-700 font-medium" href="/flows">Flows</a>
                  <a class="hover:text-pink-700 font-medium" href="/settings">Settings</a>
                </nav>
              </div>

              <nav class="flex gap-4 text-zinc-700">
                <a class="hover:text-pink-700 font-medium" href="https://github.com/isaqueveras/zoity" target="_blank">Github</a>
                <a class="hover:text-pink-700 font-medium" href="/exit">Exit</a>
              </nav>
            </div>

            <div class="flex-1 overflow-y-auto">
              <div class="p-8 space-y-6">
                { children... }
              </div>
            </div>
          </div>

        </div>
      </main>
    </body>
  </html>
}