package pages

import "zoity/resources/layouts"

templ ListServicesPage() {
  @layouts.Page("Services") {
    <div class="flex gap-4 border-b border-zinc-200 pb-3">
      <div class="border border-zinc-200 p-4">
        <p class="font-semibold text-zinc-800/90">321</p>
      </div>
      <div>
        <h1 class="text-2xl text-zinc-800 font-semibold">Services</h1>
        <p class="text-zinc-600">Lista de todos os serviços configurados</p>
      </div>
    </div>

    <div>
      <div class="my-2 px-4 py-2 w-full bg-zinc-200/40">
        <h3 class="text-normal text-md">microservico-usuario-api-http</h3>
      </div>
      <div class="my-2 px-4 py-2 w-full bg-zinc-200/40">
        <h3 class="text-normal text-md">microservico-usuario-grpc-http</h3>
      </div>
      <div class="my-2 px-4 py-2 w-full bg-zinc-200/40">
        <h3 class="text-normal text-md">frontend-autenticacao-web</h3>
      </div>
    </div>
  }
}